<app-student-header></app-student-header>
<div class="main-content">
    <div class="capstone-titles">
        <mat-card routerLink='/student/capstone-titles' >
            <img mat-card-image src="assets/caps-title-logo.svg" alt="Capstone Title">
            <mat-card-content>
                Capstone Titles
            </mat-card-content>
        </mat-card>
    </div>

    <div class="profile-setting">
        <mat-card routerLink='/student/profile-setting'>
            <img mat-card-image src="assets/profile-settings-logo.svg" alt="Profile Setting">
            <mat-card-content>
                Profile Setting
            </mat-card-content>
        </mat-card>
    </div>
</div>
